@page
@model ConfirmEmailChangeModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Confirm email change";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />